<% flat = data.flats[owner] %>


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= flat.img %>); height:50vh; background-position: center;"></div>
<!-- Inject flat data in template -->
<div class="header-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-details text-center">
          <div class="owner">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle img-thumbnail" %>
            <p> <%= owner %></p>
          </div>
          <div class="flat">
            <h2><%= flat.description %></h2>
            <p><%= flat.city_name %></p>
            <p><%="⭐️" * flat.rating %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <form action="#">
          <h4>Book this flat</h4>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkin">
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkout ">
              </div>
            </div>
          </div>
          <div class="form-group">
            <select name="guests" id="guests" class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-danger" style="width: 100%;">Book it</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="flat-info">
  <div class="container">
    <div class="row">
      <h2>About the Flat</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum obcaecati eligendi culpa, adipisci at praesentium ipsum cupiditate modi quod sequi. Laudantium vitae rerum nobis harum aliquid velit voluptatem possimus laboriosam!</p>
      <div class="row flat-characteristics">
        <div class="col-xs-12 col-sm-4">
          <p>Space</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <p>Accomodates: 2</p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <p>Bathrooms: 1</p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <p>Bed type: King size</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row flat-characteristics text-justify">
        <div class="col-xs-12 col-sm-4"><p>Amenities</p></div>
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <p>
                <%= '<i class="fas fa-wifi"> Wifi</i>' if flat.wifi %>
              </p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <p>
                <%= '<i class="fas fa-tv"> TV</i>' if flat.tv %>
              </p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <p>
                <%= '<i class="fas fa-dog"> Pets</i>' if flat.pets %>
              </p></div>
            <div class="col-xs-12 col-sm-6">
              <p>
                <%= '<i class="fas fa-utensils"> Kitchen</i>' if flat.kitchen %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <p><%= flat.name %></p> -->

