---
title: Le Wagon - Middleman
---

<!-- <div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div> -->

<%= partial 'layouts/banner'  %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="container" id="home-flats">
        <h2 class="text-center">Recent flats</h2>
        <div class="row">
          <% data.flats.each do |owner, flat| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
              <div class="card-category"><%= flat.city_name %></div>
              <div class="card-description">
                <h3><%= flat.name %></h3>
                <p><%= flat.description %></p>
              </div>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class:"card-user" %>
              <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

